.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/uploads
capistrano
capistrano/**/*
capistrano/*


.\#*
**/.\#*
**/**/.\#*
**/**/**/.\#*
**/**/**/**/.\#*
**/**/**/**/**/.\#*
**/**/**/**/**/**/.\#*

.#*
**/.#*
**/**/.#*
**/**/**/.#*
**/**/**/**/.#*
**/**/**/**/**/.#*
**/**/**/**/**/**/.#*
