.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/uploads
public/uploads/*
public/uploads/**/*
capistrano
capistrano/**/*
capistrano/*
config/database.yml


.\#*
**/.\#*
**/**/.\#*
**/**/**/.\#*
**/**/**/**/.\#*
**/**/**/**/**/.\#*
**/**/**/**/**/**/.\#*

.#*
**/.#*
**/**/.#*
**/**/**/.#*
**/**/**/**/.#*
**/**/**/**/**/.#*
**/**/**/**/**/**/.#*
