@import "fonts"

body
  margin: 0
  background: white
  color: black
  font-size: 62.5%

a#branding
  display: block
  float: left
  padding: 8px 18px
  text-decoration: none
  margin-top: -8px
  color: black
  background: white

  .title
    font-size: 7.2em
    font-family: Ubuntu
    font-weight: bold

  .subtitle
    font-size: 2.4em
    :font-family "Gauntlet Classic"
    :margin -6px 0 0 6px

#sidebar
  width: 175px
  float: left

#content
  width: 80%
  padding: 0 10% 24px 10%
  h1
    font-family: Ubuntu
    margin-top: 20px
    font-size: 6em

    &.page_title
      font-family: "Ubuntu"
      font-size: 5.2em
      font-weight: normal
      margin: 20px 0 0 0      

  h2, h3
    font-family: Ubuntu
    margin: 0
  h2
    font-size: 4em
    margin-top: 20px
  h3
    font-size: 2.8em
  h4
    font-size: 2.1em
  h5
    font-size: 1.6em
  #primary
    :float left
    :padding 0 2%
    :width 60%
    #articles, #testimonials
      :width 100%

.clear
  clear: both

#session
  :margin 0 0 0 24px
  a
    float: left
    clear: left
    :font-family "Ubuntu", sans-serif
    :margin 8px 8px 0 0
    :color #222
    :font-size 1.4em
    &:hover
      text-decoration: underline
    :text-decoration none
