#fortunes
  a
    color: #CD2626
    font-size: 1.6em
    font-family: "Droid Serif", serif
    text-decoration: none
    display: block
    margin-top: 6px
  a:hover
    text-decoration: underline

#headlines, #fortunes
  :width 400px
  :float left

  h1
    font-family: "Droid Serif"
    font-size: 5.2em
    font-weight: normal
    margin: 20px 0 0 0      

#fortune, .fortune
  a.title
    font-size: 4.2em
    color: #CD2626
    font-size: 1.6em
    font-family: "Droid Serif", serif
  a.title:hover
    text-decoration: underline
