#headlines
  :width 520px
  :float left
  a
    color: #222
    font-family: "Droid Serif", serif
    text-decoration: none
    display: block
    margin-top: 6px
  a:hover
    text-decoration: underline

  h1
    font-family: "Ubuntu"
    font-size: 5.2em
    font-weight: normal
    margin: 20px 0 0 0      

.headline
  margin-top: 20px
  width: 500px
  a.title
    color: #222
    font-family: "Droid Serif", serif
    font-weight: normal
    text-decoration: none
    text-transform: none

  .published
    font-family: "Droid Serif", serif
    font-size: 12px
    font-weight: bold
    text-transform: none

  img
    border: 1px solid #bbb
    margin: 8px 0

  h4
    a.title
      font-size: 36px

  h4 a.title:hover
    text-decoration: underline

  a.title
    font-size: 32px

  a.title:hover
    text-decoration: underline

  .info
    font-family: "Droid Serif", serif
    text-transform: none
    font-weight: normal
    font-size: 12px
    .byline
      color: #444
      display: inline

  .resource_links
    a.edit
      color: black
      font-family: "Droid Serif", serif
      font-size: 14px
      text-decoration: none
      float: left
      padding: 4px
    input
      float: left
