#navigation
  float: left
  width: 160px
  font-family: Ubuntu
  padding-bottom: 2px
  padding-left: 10px
  a
    font-size: 1.2em
    color: black
    :border-bottom 2px solid white
    display: block
    float: left
    :font-weight normal
    :position relativ
    :text-decoration none
    :padding 0 6px
    :margin 0
    &.title, &.feed
      :font-weight bold
      :font-size 2em
      &:hover
        :text-decoration none

    &.feed
      :color #F07D55
    &:hover
      :text-decoration underline
  .section
    :padding 8px
    :float left
    a.title
      :color #789BC3
      &:hover, &.active
        :color #0065BA
        :border-bottom 2px solid #0065BA

  #feeds
    margin-top: 20px
    h4
      font-size: 14px
      margin: 0
      color: #333
      padding: 4px 8px
    a
      text-decoration: none
      float: none
      display: block
      font-weight: normal
      margin: 4px 0
      font-size: 14px
      
      &:hover, &.active
        :color #FF6B37
        :text-decoration underline
