#search
  background: white
  float right
  padding: 4px 8px 4px 12px
  height: 34px
  input[type=text]
    width: 78%
    background: #ccc
    border: 1px solid #aaa
    padding: 6px 8px
    font-size: 1.4em
  input[type=submit]
    background: #333
    color: white
    border: 1px solid #222
    padding: 6px 8px
    font-family: Ubuntu, Absolut
#session
  :float left
  :text-align center
  :padding 8px 0
  :margin 0 0 0 12px
  a
    :font-family Ubuntu, Absolut
    :margin-right 8px
    :color black
    :font-size 1.6em
    &:hover
      text-decoration: underline
    :text-decoration none
#feeds
  a
    :color #D64D1D
