#fortunes a {
  color: #cd2626;
  font-size: 1.6em;
  font-family: "Droid Serif", serif;
  text-decoration: none;
  display: block;
  margin-top: 6px; }
#fortunes a:hover {
  text-decoration: underline; }

#headlines, #fortunes {
  width: 400px;
  float: left; }
  #headlines h1, #fortunes h1 {
    font-family: "Droid Serif";
    font-size: 5.2em;
    font-weight: normal;
    margin: 20px 0 0 0; }

#fortune a.title, .fortune a.title {
  font-size: 4.2em;
  color: #cd2626;
  font-size: 1.6em;
  font-family: "Droid Serif", serif; }
#fortune a.title:hover, .fortune a.title:hover {
  text-decoration: underline; }
