#headlines {
  width: 520px;
  float: left; }
  #headlines a {
    color: #222222;
    font-family: "Droid Serif", serif;
    text-decoration: none;
    display: block;
    margin-top: 6px; }
  #headlines a:hover {
    text-decoration: underline; }
  #headlines h1 {
    font-family: "Ubuntu";
    font-size: 5.2em;
    font-weight: normal;
    margin: 20px 0 0 0; }

.headline {
  margin-top: 20px;
  max-width: 720px; }
  .headline a.title {
    color: #222222;
    font-family: "Droid Serif", serif;
    font-weight: normal;
    text-decoration: none;
    text-transform: none; }
  .headline .published {
    font-family: "Droid Serif", serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: none; }
  .headline img {
    border: 1px solid #bbbbbb;
    margin: 8px 0; }
  .headline h4 a.title {
    font-size: 36px; }
  .headline h4 a.title:hover {
    text-decoration: underline; }
  .headline a.title {
    font-size: 32px; }
  .headline a.title:hover {
    text-decoration: underline; }
  .headline .info {
    font-family: "Droid Serif", serif;
    text-transform: none;
    font-weight: normal;
    font-size: 12px; }
    .headline .info .byline {
      color: #444444;
      display: inline; }
  .headline .resource_links a.edit {
    color: black;
    font-family: "Droid Serif", serif;
    font-size: 14px;
    text-decoration: none;
    float: left;
    padding: 4px; }
  .headline .resource_links input {
    float: left; }

.fields textarea {
  height: 100px;
  width: 520px; }
