#navigation {
  float: left;
  width: 160px;
  font-family: Ubuntu;
  padding-bottom: 2px;
  padding-left: 10px; }
  #navigation a {
    font-size: 1.2em;
    color: black;
    border-bottom: 2px solid white;
    display: block;
    float: left;
    font-weight: normal;
    position: relativ;
    text-decoration: none;
    padding: 0 6px;
    margin: 0; }
    #navigation a.title, #navigation a.feed {
      font-weight: bold;
      font-size: 2em; }
      #navigation a.title:hover, #navigation a.feed:hover {
        text-decoration: none; }
    #navigation a.feed {
      color: #f07d55; }
    #navigation a:hover {
      text-decoration: underline; }
  #navigation .section {
    padding: 8px;
    float: left; }
    #navigation .section a.title {
      color: #789bc3; }
      #navigation .section a.title:hover, #navigation .section a.title.active {
        color: #0065ba;
        border-bottom: 2px solid #0065ba; }
  #navigation #feeds {
    margin-top: 20px; }
    #navigation #feeds h4 {
      font-size: 14px;
      margin: 0;
      color: #333333;
      padding: 4px 8px; }
    #navigation #feeds a {
      text-decoration: none;
      float: none;
      display: block;
      font-weight: normal;
      margin: 4px 0;
      font-size: 14px; }
      #navigation #feeds a:hover, #navigation #feeds a.active {
        color: #ff6b37;
        text-decoration: underline; }
