#search {
  background: white;
  padding: 4px 8px 4px 12px;
  height: 34px; }
  #search input[type=text] {
    width: 78%;
    background: #cccccc;
    border: 1px solid #aaaaaa;
    padding: 6px 8px;
    font-size: 1.4em; }
  #search input[type=submit] {
    background: #333333;
    color: white;
    border: 1px solid #222222;
    padding: 6px 8px;
    font-family: Ubuntu, Absolut; }
